<template>

    <div class="slds-text-heading_small slds-var-m-around_medium">
        Users Currently Viewing This Page
    </div>

    <template if:true={recordViewers}>
        <template for:each={recordViewers} for:item="viewer">
                <lightning-badge key={viewer} label={viewer} class="slds-var-m-bottom_small slds-var-m-left_small"></lightning-badge>
                <br key={viewer}/>
        </template>
    </template>
    
</template>